/.Children.java._trace
/.CircleInChildren.java._trace
/.CloseRelativeWithChildrens1.java._trace
/.CloseRelativeWithChildrens2.java._trace
/.DirectRelative.java._trace
/.Familytree.java._trace
/.Relative.java._trace
/Children.java
/CircleInChildren.java
/CloseRelativeWithChildrens1.java
/CloseRelativeWithChildrens2.java
/DirectRelative.java
/Familytree.java
/Relative.java
